
*{
    box-sizing: border-box;
}

.width-margin{
    max-width: 1280px;
    margin: auto;
}
.panda-btn{
    border-radius: 6px;
    color: white;
    font-weight: 600;
    border: none;
    padding: 16px 28px;
    background-color: #FF136F;
    font-size: 16px;
}


/* navbar */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search-bar{
 position: relative;
}
.search-bar input{
    padding: 12px 28px;
    border: none;
    background-color: #F1F1F1;
    border-radius: 66px;
    width: 500px;
    
}
.search-bar i{
    position: absolute;
    top: 12px;
    right: 13px;
    color: #BABABA;
}
.item-list{
    display: flex;
    gap: 24px;
}
.item-list li{
    list-style: none;
}
.item-list li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: #707070;
}



/* banner */

.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FEEAE9;
    border-radius: 10px;
    margin: 63px auto;
    padding: 68px 46px;
}
.banner h1{
    color: #1F1F1F;
    font-size: 56px;
    font-weight: bold;
    margin-bottom: 0;
}
.banner p{
    color: #4E4E4E;
    width: 456px;
}
.banner-price{
    font-size: 52px;
    font-weight: bold;
    color: #FF136F;
    display: inline-block;
}

.banner img{
    width: 402px;
    height: 378px;
}

/* categories section */
.categories{
    margin-bottom: 60px;
}
.categories h2{
    color: #1F1F1F;
    font-size: 36px;
    font-weight: 600;
}
.category-card-container{
    display: flex;
    gap: 26px;
}
.category-card h3{
    font-size: 36px;
    color: white;
}
.category-card:nth-child(1){
    background-color: #FFD019;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 33px 46px;
    border-radius: 10px;
    flex:1;
}
.category-card:nth-child(2){
    background-color: #FF136F;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 33px 46px;
    border-radius: 10px;
    flex:1;
}
.category-card:nth-child(3){
    background-color: #3F07F8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 33px 46px;
    border-radius: 10px;
    flex:1;
}